# ==============================
# Virtual Environment
# ==============================
smt/
venv/
env/
.venv/

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/

# ==============================
# Logs
# ==============================
*.log
*.sql
# ==============================
# Archives
# ==============================
*.zip

# ==============================
# Scripts (optional)
# ==============================
*.bat
*.sh

# ==============================
# Python Cache
# ==============================
__pycache__/
*.pyc
*.pyo

# ==============================
# Environment Variables
# ==============================
.env
.env.*

# ==============================
# Database
# ==============================
*.db
*.sqlite3

# ==============================
# Build / Distribution
# ==============================
build/
dist/
*.egg-info/

# ==============================
# Flask
# ==============================
instance/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Temporary Files
# ==============================
*.tmp
*.bak